.dropbtn {
  background-color: transparent;
  color: white;
  padding: 0;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropbtn:hover {
  opacity: 0.75;
  transition: var(--trns1);
}

/* The container <div> - needed to position the dropdown content */
.dropdown_menu {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-menu {
  display: none;
  position: absolute;
  background-color: #ffe425;
  min-width: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 15px;

  margin-left: 2rem;
}

/* Links inside the dropdown */
.dropdown-content-menu a {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  margin: 0 !important;
}

/* Change color of dropdown links on hover */
.dropdown-content-menu a:hover {
  opacity: 0.75;
  transition: var(--trns1);
}

/* Show the dropdown menu on hover */
.dropdown_menu:hover .dropdown-content-menu {
  display: block;
}
.dropdown_menu:hover .arrow-menu-dr {
  transform: rotate(90deg);
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown_menu:hover .dropbtn {
  background-color: transparent;
}

.arrow-menu-dr {
  width: 10%;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 2rem;
  color: green;
}

.header-right a {
  color: white !important;
}
.header-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.5rem 0;
}
.header-left img {
  width: 7.5rem;
  margin: 0 2.5rem 0 0;
}
.header-content a {
  font-size: 1.65rem !important;
  color: var(--white);
  font-weight: 600;
  margin: 0 3.5rem 0 0;
  transition: var(--trns1);
}
.header-content a:hover {
  opacity: 0.75;
  color: var(--white);
}
.header-content button:last-child {
  margin: 0 0 0 2.5rem;
}
.header-mob {
  display: none;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  min-height: 11.5rem;
}
.header-icon {
  width: max-content;
  z-index: 10001;
  position: relative;
}
.header-icon svg {
  font-size: 3rem;
  color: #fff;
}
.header-mob-box {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background: linear-gradient(#f9c131, #e95b53);
  padding: 12.5rem 2rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.header-mob-box a {
  font-size: 2.3rem !important;
  color: #fff !important;
}
.dashboard-header .header-mob-box {
  background-color: #fff;
  background-image: url("../../assets/img/pc-hero-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.header-mob-box img {
  width: 5.5rem;
  object-fit: contain;
  margin: 0 0 5rem 0;
}
.header-mob > img {
  width: 5.5rem;
  object-fit: contain;
  z-index: 1000001;
}
.header-mob-box a {
  margin: 0 0 2.5rem 0;
  font-size: 1.85rem;
  color: #fff;
  width: 100%;
  text-align: center;
}
.header-mob-box button {
  margin: 0 0 2.5rem 0;
  width: 100%;
}

@media screen and (min-width: 1600px) {
}

@media screen and (max-width: 1150px) {
  .dropdown-content-menu {
    text-align: center;
    z-index: 1000;
    margin-left: 40%;
    margin-top: -2rem;
  }
  .dropbtn {
    font-size: 2.3rem;
    font-weight: 400;
  }

  .dropdown_menu {
    width: 100%;
    text-align: center;
  }

  .arrow-menu-dr {
    width: 2% !important;
    margin: 0 !important;
  }
  .header-content a {
    margin: 0 2rem 0 0;
  }
  .header-content {
    display: none;
  }
  .header-mob {
    display: flex;
  }
}
@media screen and (max-width: 850px) {
  .arrow-menu-dr {
    width: 4% !important;
    margin: 0 !important;
  }
}
