.dopot-power {
  width: 100%;
  padding: 22rem 0 0 0;
}

.p-btn-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 10rem 0;
  border-bottom: 2px solid rgb(186, 178, 178);
}
.p-btn-box .purple-border-btn {
  background-color: white;
}
.dopot-power h1 {
  font-size: 5rem;
  text-align: center;
  color: var(--white);
}
.dopot-power h2 {
  color: rgba(227, 62, 144, 0.8);
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 5rem;
}
.dopot-power h3 {
  font-size: 2.25rem;
  font-weight: 400;
  color: var(--white);
}
.p-cards-grid {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.p-card {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 10rem 0;
}
.p-card img {
  width: 10rem;
  object-fit: contain;
  margin: 0 0 3.5rem 0;
}
.p-card p {
  font-size: 1.85rem;
  text-align: center;
  color: var(--white);
}
.dopot-power ul {
  padding: 2.5rem 0 2.5rem 5rem;
}
.dopot-power ul li {
  font-size: 1.85rem;
  margin: 0 0 3rem 0;
  list-style-image: url("../assets/img/d-circle.jpg");
  color: var(--white);
}
.dopot-power-img {
  width: 100%;
  object-fit: cover;
  margin: 5rem 0 0 0;
  height: 10rem;
}
.p-hand-img {
  width: 100%;
}
@media screen and (max-width: 1000px) {
  .dopot-power-img {
    height: 7.5rem;
  }
  .dopot-power {
    padding: 20rem 0 0 0;
  }
  .dopot-power h2 {
    font-size: 3rem;
  }
  .p-btn-box {
    flex-direction: column;
  }
  .p-btn-box button {
    width: 100%;
    margin: 0 0 5rem 0;
  }
  .p-btn-box button:nth-child(2) {
    margin: 0;
  }
  .p-card {
    width: 50%;
    margin: 0;
  }
  .p-cards-grid {
    flex-wrap: wrap;
    margin: 10rem 0;
  }
  .p-card img {
    width: 8.5rem;
  }
  .dopot-power ul {
    padding: 2.5rem 0 2.5rem 2.5rem;
  }
}
